@{
    /*
    * Brett Fowler
    * Course CPT-231-424 - C# Programming II
    * Module 12 Assignnent
    * 2023 Fall
            */
}

@model List<Plant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Page 3</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus quam pellentesque nec nam aliquam sem et tortor.
        Arcu risus quis varius quam quisque id diam. Nibh nisl condimentum id venenatis. Justo laoreet sit amet cursus sit amet dictum sit. Id faucibus nisl tincidunt eget nullam non. Libero volutpat sed cras ornare arcu dui vivamus arcu.
        Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Volutpat sed cras ornare arcu dui vivamus. Odio morbi quis commodo odio aenean sed adipiscing diam. Eros in cursus turpis massa tincidunt dui.
        Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel. Aliquam eleifend mi in nulla posuere sollicitudin. Condimentum vitae sapien pellentesque habitant.
        Ultricies lacus sed turpis tincidunt id. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. A condimentum vitae sapien pellentesque habitant morbi tristique.
        Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Massa placerat duis ultricies lacus sed turpis tincidunt. Ultrices sagittis orci a scelerisque. Nec sagittis aliquam malesuada bibendum.
        Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Aenean et tortor at risus viverra adipiscing. Tortor dignissim convallis aenean et. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.
        Purus non enim praesent elementum facilisis leo vel. Sociis natoque penatibus et magnis. Vitae turpis massa sed elementum tempus egestas. Congue mauris rhoncus aenean vel elit.
    </p>
    <a class="btn btn-secondary btn-sm" asp-controller="Home" asp-action="PageTwo">Page 2</a>
</div>